﻿

@{
    ViewBag.Title = "Create";
}

@*<h2>Create Product</h2>*@

<div class="container">
    <form method="post" id="createProduct">
        <div class="form-group">
            <label>Name</label>
            <select class="form-control" name="categoryID">
                @foreach (var category in Model)
                {
                    <option value=@category.ID>@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" id="name" name="Name" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" id="description" name="Description" />
        </div>
        <div class="form-group">
            <label>Price</label>
            <input class="form-control" type="text" id="price" name="Price" />
        </div>
        <button id="saveBtn" class="btn btn-primary" type="button">SAVE</button>
    </form>
</div>





<script>

    $('#saveBtn').click(function () {

        //var name = $('#name').val();
        //var description = $('#description').val();
        //var price = $('#price').val();



        $.ajax(
            {
                type: "Post",
                url: "/Product/Create",
                //data: {
                //    Name: name,
                //    Description: description,
                //    Price: price
                //}
                data: $("#createProduct").serialize(),
            })
            .done(function (response) {
                $('#tableContainer').html(response);
                $('#actionContainer').html('');
            })
            .fail(function (data) {
                alert("failed");
            });
    });

</script>