﻿@model ClothBazar.Entities.Product
@{
    ViewBag.Title = "Edit";
}




<div class="container">
    <form method="post" id="editProduct">
        <label>id</label>
        <input type="number" id="id" name="id" value="@Model.ID" disabled/>
        <label>Name</label>
        <input type="text" id="name" name="Name" value="@Model.Name" />
        <label>Description</label>
        <input type="text" id="description" name="Description" value="@Model.Description" />
        <label>Price</label><input type="text" id="price" name="Price" value="@Model.Price" />
        <button id="updateBtn" type="button">Update</button>
    </form>
    </div>


    <script>

        $('#updateBtn').click(function () {

            //var name = $('#name').val();
            //var description = $('#description').val();
            //var price = $('#price').val();

            $.ajax(
                {
                    type: "Post",
                    url: "/Product/Edit",
                    //data: {
                    //    Name: name,
                    //    Description: description,
                    //    Price: price
                    //}
                    data: $("#editProduct").serialize(),
                })
                .done(function (response) {
                    $('#tableContainer').html(response);
                    $('#actionContainer').html('');
                })
                .fail(function (data) {
                    alert("failed");
                });
        });

    </script>
