﻿<style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
</style>

<div class="container-fluid">
    <div id="tableContainer">
        @{
            Html.RenderAction("ProductTable");
            <br />
            //Html.RenderAction("Create");
        }
    </div>
</div>

<br />
<hr />
<br />

<div id="actionContainer">
   
</div>