﻿@model List<ClothBazar.Entities.Product>
@Scripts.Render("~/bundles/jquery")
<script>
    https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js
</script>

<br />
<div class="title-section">
    <h2 class="title">Show Product</h2>
</div>
<br />


<div class="container">
    <form method="post" action="/Product/ProductTable">
        <div class="row">
            <div class="col-sm">
                <input type="search" id="searchText" />
            </div>
            <div class="col-sm">
                <button type="button" id="searchbtn">Search</button>
            </div>
        </div>
    </form>
    <br />

    <button id="newButton"><span class="fa fa-plus-circle"> &nbsp;</span>Add New Product</button>
</div>



   

<br />



    <div class="col-md-10 offset-md-1">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">*</th>
                        <td>@item.Name</td>
                        <td>
                            @if (item.category != null)
                            {
                                <text>@item.category.Name</text>
                            }
                            else
                            {
                                <text>-</text>
                            }
                        </td>
                        <td>@item.Price</td>
                        <td>
                            <button class="editBtn" data-id=@item.ID>Edit</button> &nbsp;
                            <button class="deleteBtn" data-id=@item.ID>Delete</button>&nbsp;
                            <button class="addToCart" data-id=@item.ID>Add To Cart</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>




    <script>

        $('#searchbtn').click(function () {
            var searchValue = $('#searchText').val();

            $.ajax(
                {
                    type: "Post",
                    url: '@Url.Action("ProductTable","Product")',
                    //"/Product/ProductTable",
                    data: {
                        search: searchValue
                    },
                })
                .done(function (response) {
                    $('#tableContainer').html(response);
                })
                .fail(function (data) {
                    alert("failed");
                });
        });



        $('#newButton').click(function () {

            $.ajax(
                {
                    type: "Get",
                    url: "/Product/Create",
                })
                .done(function (response) {
                    $('#actionContainer').html(response);
                    scrollToSection();
                })
                .fail(function (data) {
                    alert("failed");
                });
        });


        $('.editBtn').click(function () {
            $.ajax(
                {
                    type: "Get",
                    url: "/Product/Edit",
                    data: {
                        ID: $(this).attr('data-id'),
                    },
                })
                .done(function (response) {
                    $('#actionContainer').html(response);
                    scrollToSection();
                })
                .fail(function (data) {
                    console.log(data)
                    alert("failed");
                });
        });

        $('.deleteBtn').click(function () {

            swal({
                title: "Are you sure?",
                text: "",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {

                        $.ajax(
                            {
                                type: "Post",
                                url: "/Product/Delete",
                                data: {
                                    ID: $(this).attr('data-id'),
                                },
                            })
                            .done(function (response) {
                                console.log(response);
                                $('#tableContainer').html(response);
                                swal("Your file has been deleted!", {
                                    icon: "success",
                            })
                            .fail(function (data) {
                                console.log(data)
                                alert("failed");
                            });

                        
                        });
                    } 
                });
            
        });


        var products = [];
        $('.addToCart').click(function () {
            var productID = $(this).attr('data-id');
            products.push(productID);

            $.cookie('CartProduct', products.join('-'), { path: '/' });


        });



        function scrollToSection() {
            $('html, body').animate({
                scrollTop: $('#actionContainer').offset().top - 150
            }, 1000);
        }





        //$.ajax(
            //    {
            //        type: "Get",
            //        url: "",
            //        success: function () {

            //        },
            //        error: function () {

            //        }
            //    });


    </script>
