﻿@model ClothBazar.Web.ViewModels.CheckoutViewModel

@{
    ViewBag.Title = "Checkout";
}


@{
    if (Model.cartProducts != null && Model.cartProducts.Count > 0)
    {
        <div>
            @foreach (var product in Model.cartProducts)
            {
                var productQuantity = Model.cartProductIDs.Where(productID => productID == product.ID).Count();

    <div>
        @product.Name - @product.Price - Quantity : @productQuantity - Total Price: @(product.Price * productQuantity)
    </div>


    <div>
        Total Bill - @Model.cartProducts.Sum(x=>x.Price * Model.cartProductIDs.Where(productID => productID == x.ID).Count())
    </div>
            }
</div>
    }
    else 
    {
        <div>No product in cart</div>
    }
}

<h2>Checkout</h2>

