﻿@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>

<div>
    <form method="post">

        <label>Name</label>
        <input type="text" name="Name" />
        <br />
        <label>Description</label>
        <input type="text" name="Description" />
        <br />
        <label>Image</label>
        <input id="ImageURL" name="ImageURL" type="hidden" />
        <input id="imageUpload" name="image" type="file" accept=".png, .jpg, .jpeg" />

        <div class="thumb">
            <img id="categoryImage" />
        </div>

        <label>Featured ?</label>
        <input name="IsFeatured" type="radio" value="True" />Yes
        <input name="IsFeatured" type="radio" value="False" checked/>No

        <br />
        <button type="submit">SAVE</button>

    </form>
</div>

<script>

    $('#imageUpload').change(function () {
        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax(
            {
                type: "Post",
                url: "/Shared/UploadImage",
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false
            })
            .done(function (response) {
                console.log(response);
                if (response.Success) {
                    $("#ImageURL").val(response.ImageUrl);
                    $("#categoryImage").attr("src", response.ImageUrl);
                }
            })
            .fail(function (data) {
                alert("failed " + data);
            });
    });
</script>