﻿@model ClothBazar.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure to delete the data ?</h2>

<form method="post">
    <table>
        <tr>
            <td></td>
            <td><input type="hidden" name="ID" value="@Model.ID" /></td>
        </tr>
       
        <tr>
            <td><button type="submit">DELETE</button></td>
            <td><a href="~/Views/Home/Index.cshtml">&nbsp;</a></td>
        </tr>
    </table>
</form>
