﻿@model ClothBazar.Entities.Category
@{
    ViewBag.Title = "Edit";

    var trueChecked = Model.IsFeatured ? "checked" : string.Empty;
    var falseChecked = !Model.IsFeatured ? "checked" : string.Empty;
}

<h2>Edit</h2>

<form method="post">
    <table>
        <tr>
            <td></td>
            <td><input type="hidden" name="ID" value="@Model.ID" /></td>
        </tr>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" name="Name" value="@Model.Name" /></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input type="text" name="Description" value="@Model.Description" /></td>
        </tr>

        <tr>
            <td><label>Featured ?</label></td>
            <td>
                <input name="IsFeatured" type="radio" value="True" @trueChecked />Yes
                <input name="IsFeatured" type="radio" value="False" @falseChecked />No
            </td>
        </tr>

        <tr>
            <td></td>
            <td><button type="submit">SAVE</button></td>
        </tr>
    </table>
</form>