﻿@model IEnumerable<ClothBazar.Entities.Category>
@{
    ViewBag.Title = "Index";
}

<br />
<div class="title-section">
    <h2 class="title">Show Category</h2>
</div>
<br />

    <div class="col-md-10 offset-md-1">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var list in Model)
                {
                <tr>
                    <th scope="row">*</th>
                    <td>@list.Name</td>
                    <td>-</td>
                    <td>@list.Description</td>
                    <td>
                        <button class="editBtn" data-id=@list.ID>Edit</button> &nbsp;
                        <button class="deleteBtn" data-id=@list.ID>Delete</button>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>




